<?xml version="1.0"?>
<config>
    <modules>
        <Favicode_QuadPayHideOrders>
            <version>1.0.0</version>
        </Favicode_QuadPayHideOrders>
    </modules>

    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Favicode_QuadPayHideOrders_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>

</config>
